* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// #27254C
// #564A94
// #9B8AB4
// #F2ECF8
// #45B0D2
// #1F232F

//#23895d
//#7fd677
//#eadb87
//#eeda9e
//#b8b8b8
