.company-details-container {
    max-width: 500px; 
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: rgba(240, 216, 240, 0.267);

    h3 {
    font-style: italic;
    font-size: 20px;
    color: rgb(185, 109, 122); 
    font-weight: 100; 
    }
    h1 {
        font-style: italic;
    font-size: 25px;
    color: rgb(231, 141, 156); 
    }
}

