.form-container {
  margin: auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(240, 216, 240, 0.267);
  display: flex;
  justify-content: center;

  h2 {
    font-style: italic;
    font-size: 25px;
    color: rgb(185, 109, 122);
    font-weight: 100;
    text-align: start;
  }
}
